<div class="mypage clearfix" >
  <section class="小見出し clearfix">
      <h2>マイページ</h2>
  </section>

  <section class="小見出し clearfix">
      <h2>お気に入り登録している食堂一覧</h2>


<% if current_user.likes %>
        <% current_user.likes.each do |like| %>
        <div class="shop-info-in-shoplist clearfix" >
           <h2><%= link_to like.shop.shop_name,shop_reviews_path(like.shop.id) %></h2>
           <h2><%= image_tag like.shop.picture %></h2>
          <h6><%= like.shop.address %></h6>
           <h6><%= link_to "口コミ",new_shop_review_path(like.shop.id) %></h6>
        </div>
        <% end %>
<% end %>
</section>
</section>



 <section class="小見出し clearfix">
    <h2><%= @nickname %>さんの口コミ投稿履歴</h2>
  </section>

<div class="reviews clearfix">

    <% @reviews.each do |review| %>

    <ul class="more_list" clearfix>
      <li>
      <% if user_signed_in? && current_user.id == review.user_id %>
      <li>
        <%= link_to '編集', edit_shop_review_path(review.shop.id,review.id), method: :get %>
      </li>
      <li>
        <%= link_to '削除', shop_review_path(review.shop.id,review.id), method: :delete %>
      </li>
      <% end %>
    </ul>
    <h3><%= review.content_text %></h3>
      </a>
    </span>
    <% end %>
  </div>　


