<div class ="contents row">
  <div class="content_post">
    <% if user_signed_in? && current_user.id == @review.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/reviews/#{@review.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/reviews/#{@review.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <%= @review.content_text %>
    <span class="name">
      <a href="/users/<%= @review.user.id %>">
        <span>投稿者</span><%= @review.user.nickname %>
      </a>
    </span>
  </div>
</div>
